flows.json
[
    {
        "id": "ttb-zwave-tab",
        "type": "tab",
        "label": "ttb-zwave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json"
    },
    {
        "id": "nodeGeneratorZWave",
        "type": "subflow",
        "name": "nodeGenerator",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "assert1ZWave"
                    }
                ]
            }
        ],
        "out": [],
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json"
    },
    {
        "id": "controlLoopZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Control loop",
        "func": "// some work left?\nif(context.global.nodeGenerator.length >0) {\n    // can enter?\n    if(typeof context.global.putFlag === 'undefined' || context.global.putFlag === false) { // let's in\n        context.global.putFlag = true; // prevent enter\n        msg = context.global.nodeGenerator.shift(); // get the next\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 334,
        "y": 222,
        "wires": [
            [
                "globalZWave"
            ]
        ]
    },
    {
        "id": "parametersZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "NodeFactory Parameters",
        "func": "if(Array.isArray(msg.payload)) {\n    for(var i = 0; i < msg.payload.length; i++) {\n        msg.payload[i].type = msg.payload[i].typeNode;\n        msg.payload[i].broker = \"MQTT.Localhost\";\n        msg.payload[i].x = 100 + Math.random() * 50;\n        msg.payload[i].y = 100 + Math.random() * 50;\n        msg.payload[i].extra.ui = true;\n        msg.node = msg.payload;\n    }\n} else {\n    msg.payload.type = msg.payload.typeNode;\n    if(msg.payload.typeNode.includes(\"subflow\") === false) msg.payload.broker = \"MQTT.Localhost\";\n    msg.payload.x = 100 + Math.random() * 50;\n    msg.payload.y = 100 + Math.random() * 50;\n    msg.payload.extra.ui = true;\n    msg.node = msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 644.9999618530273,
        "y": 141.6666431427002,
        "wires": [
            [
                "getFlowsZWave"
            ]
        ]
    },
    {
        "id": "assert1ZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Assert (qui n'en n'est pas un)",
        "func": "if(Array.isArray(msg.payload)){\n    if(msg.payload[0].name===undefined) \n        return [{payload:\"ASSERT: msg.payload.name missing\"}, null];\n    \n    if(msg.payload[0].extra===undefined) \n        return [{payload:\"ASSERT: msg.payload.extra missing\"}, null];\n        \n    msg.tab = msg.payload; //!!! qu'est ce que ça fout là?\n    return [null,msg];\n} else {\n    if(msg.payload.name===undefined) \n        return [{payload:\"ASSERT: msg.payload.name missing\"}, null];\n    \n    if(msg.payload.extra===undefined) \n        return [{payload:\"ASSERT: msg.payload.extra missing\"}, null];\n        \n    return [null,msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 206,
        "y": 116,
        "wires": [
            [
                "debug1ZWave"
            ],
            [
                "4fa4281b.526b38"
            ]
        ]
    },
    {
        "id": "debug1ZWave",
        "type": "debug",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 408,
        "y": 78,
        "wires": []
    },
    {
        "id": "comment2ZWave",
        "type": "commentdown",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Error",
        "info": " ",
        "x": 387,
        "y": 39,
        "wires": []
    },
    {
        "id": "getFlowsZWave",
        "type": "http request",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "GET flows",
        "method": "GET",
        "ret": "obj",
        "url": "/flows",
        "x": 608.3333206176758,
        "y": 194.99999046325684,
        "wires": [
            [
                "idTabZWave"
            ]
        ]
    },
    {
        "id": "idTabZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "find Tab ID",
        "func": "msg.idTab = undefined;\nfor(var i = 0; i < msg.payload.length; i++) {\n    /*\n    if(msg.payload[i].type === \"tab\" && msg.payload[i].label === \"HomeKeeper\") {\n        msg.idTab = msg.payload[i].id;\n        break;\n    }\n    */\n    if(msg.payload[i].type === \"zwave\") {\n        msg.idTab = msg.payload[i].z;\n        break;\n    }\n}\nif(msg.idTab) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 608.3333206176758,
        "y": 234.99999046325684,
        "wires": [
            [
                "boxipZWave"
            ]
        ]
    },
    {
        "id": "formatURLZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "format URL",
        "func": "msg.url = \"http://\"+msg.payload+\".local/flow/\"+msg.idTab;\nmsg.method = \"GET\";\nmsg.headers = {\n    \"Content-Type\":\"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 608.3333206176758,
        "y": 314.99999046325684,
        "wires": [
            [
                "getFlowZWave"
            ]
        ]
    },
    {
        "id": "getFlowZWave",
        "type": "http request",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "GET flow",
        "method": "use",
        "ret": "obj",
        "url": "",
        "x": 778.3333206176758,
        "y": 314.99999046325684,
        "wires": [
            [
                "nodesZWave"
            ]
        ]
    },
    {
        "id": "nodesZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "push payload",
        "func": "msg.result = msg.payload;\nmsg.payload = msg.payload.nodes;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 798.3333206176758,
        "y": 354.99999046325684,
        "wires": [
            [
                "arrayOrNotZWave"
            ]
        ]
    },
    {
        "id": "boxipZWave",
        "type": "boxname",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "x": 598.3333206176758,
        "y": 274.99999046325684,
        "wires": [
            [
                "formatURLZWave"
            ]
        ]
    },
    {
        "id": "addToServerZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "addNodeToServerFlows",
        "func": "var node = msg.node;\nnode.z = msg.payload[0].id;\n\nvar content = msg.payload,\n    contentL = content.length;\n\nif(!node.id) {\n    node.id = (1+Math.random()*4294967295).toString(16);\n    content.push(node);\n} else {\n    for(var i = 0; i < contentL; i++) {\n        if(content[i].id === node.id && content[i].type === node.type)\n            break;\n    }\n    if(i === contentL) content.push(node);\n}\nif(contentL < content.length) {\n    //msg.payload = JSON.stringify(msg.payload, null, 4);\n    return msg;\n} else {\n    context.global.nodeGenerator.shift();\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1068.3333206176758,
        "y": 414.99999046325684,
        "wires": [
            [
                "formatHttpZWave"
            ]
        ]
    },
    {
        "id": "arrayOrNotZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "JSON or JSON's Array",
        "func": "if(Array.isArray(msg.node)) {\n    return [msg,null];\n} else {\n    return [null,msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 818.3333206176758,
        "y": 394.99999046325684,
        "wires": [
            [
                "addToServerArrayZWave"
            ],
            [
                "addToServerZWave"
            ]
        ]
    },
    {
        "id": "addToServerArrayZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "addNodeToServerFlows Array",
        "func": "var node = msg.node;\n\nvar content  = msg.payload,\n    contentL = content.length;\n\nfor(var i = 0; i < node.length; i++) {\n    node[i].z = msg.payload[0].id;\n    \n    if(!node[i].id) {\n        node[i].id = (1+Math.random()*4294967295).toString(16);\n        content.push(node[i]);\n    } else {\n        for(var j = 0; j < contentL; j++) {\n            if(content[j].id === node[i].id && content[j].type === node[i].type)\n                break;\n        }\n        if(j === contentL) content.push(node[i]);\n    }\n}\nif(contentL < content.length) {\n    //msg.payload = JSON.stringify(msg.payload, null, 4);\n    return msg;\n} else {\n    context.global.nodeGenerator.shift();\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1088.3333206176758,
        "y": 374.99999046325684,
        "wires": [
            [
                "formatHttpZWave"
            ]
        ]
    },
    {
        "id": "formatHttpZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "format HTTP",
        "func": "if(msg.idSource !== undefined) {\n    var index = msg.techno + \"-service\";\n    if(Array.isArray(msg.idSource)) {\n        var inc = 0;\n        for(var j = 0; j < msg.payload.length; j++) {\n            for(var k = 0; k < msg.idSource.length; k++) {\n                if(msg.payload[j].id === msg.idSource[k]\n                    && msg.payload[j].wires[0].indexOf(index)===-1) {\n                    msg.payload[j].wires[0].push(index);\n                    inc++;\n                }\n                if(inc === msg.idSource.length){\n                    break;\n                }\n            }\n        }\n        if(inc === msg.idSource.length) {\n            msg.method = \"PUT\";\n            msg.headers = {\n                \"Content-Type\":\"application/json\"\n            };\n            msg.payload = msg.result;\n            return msg;\n        }\n    } else {\n        for(var j = 0; j < msg.payload.length; j++) {\n            if(msg.payload[j].id === msg.idSource \n                && msg.payload[j].wires[0].indexOf(index)===-1) {\n                msg.payload[j].wires[0].push(index);\n                break;\n            }\n        }\n        if(msg.idSource && j < msg.payload.length) {\n            msg.method = \"PUT\";\n            msg.headers = {\n                \"Content-Type\":\"application/json\"\n            };\n            msg.payload = msg.result;\n            return msg;\n        }\n    }\n}\nmsg.method = \"PUT\";\nmsg.headers = {\n    \"Content-Type\":\"application/json\"\n};\nmsg.payload = msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1322.3333740234375,
        "y": 387,
        "wires": [
            [
                "putFlowZWave"
            ]
        ]
    },
    {
        "id": "putFlowZWave",
        "type": "http request",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "PUT flow",
        "method": "use",
        "ret": "txt",
        "url": "",
        "x": 1319.3333740234375,
        "y": 429,
        "wires": [
            [
                "validZWave",
                "setMessageZWave",
                "nextElementZWave"
            ]
        ]
    },
    {
        "id": "setMessageZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Set message",
        "func": "msg.message = \"Added new device slot \" + msg.node.nodeid;\n\nif(msg.node.nodeInfo !== undefined)\n    msg.message =  msg.message + \": \" + msg.node.nodeInfo.product + \" (\" +msg.node.nodeInfo.manufacturer + \")\";\n\nmsg.message = msg.message + \" Refresh your browser !\"\nmsg.notification = msg.message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1628.3333206176758,
        "y": 334.99999046325684,
        "wires": [
            [
                "notifZWave",
                "debug5ZWave"
            ]
        ]
    },
    {
        "id": "emptyMessageZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "empty msg",
        "func": "msg = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1628.3333206176758,
        "y": 414.99999046325684,
        "wires": [
            [
                "flowFilterZWave"
            ]
        ]
    },
    {
        "id": "validZWave",
        "type": "mqtt out",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "topic": "hk/valid",
        "qos": "",
        "retain": "false",
        "broker": "MQTT.Localhost",
        "x": 1618.3333206176758,
        "y": 574.9999904632568,
        "wires": []
    },
    {
        "id": "flowFilterZWave",
        "type": "http request",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "GET flowFilter",
        "method": "GET",
        "ret": "txt",
        "url": "/flowFilter",
        "x": 1837.3333740234375,
        "y": 416,
        "wires": [
            []
        ]
    },
    {
        "id": "newDeviceZWave",
        "type": "mqtt in",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "topic": "newdevice/zwave",
        "qos": "2",
        "broker": "MQTT.Localhost",
        "x": 110,
        "y": 103,
        "wires": [
            [
                "jsonConvZWave"
            ]
        ]
    },
    {
        "id": "jsonConvZWave",
        "type": "json",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "x": 270,
        "y": 103,
        "wires": [
            [
                "assert2ZWave"
            ]
        ]
    },
    {
        "id": "confInfZWave",
        "type": "function",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Config Informations",
        "func": "msg.techno         = msg.topic.replace(/newdevice\\//g, \"\");\nmsg.typeNode       = msg.payload.typeNode;\nmsg.senderID       = msg.payload.senderID;\nmsg.nodeInfo       = msg.payload.nodeInfo;\nmsg.productname    = msg.payload.productname;\nmsg.classindexname = msg.payload.classindexname;\nmsg.commandclass   = msg.payload.commandclass;\nmsg.classindex     = msg.payload.classindex;\n\nswitch(msg.typeNode) {\n    case \"zwave-binary-switch\":\n        msg.taglet = \"switch\";\n        break;\n        \n    case \"zwave-light-dimmer-switch\":\n        msg.taglet = \"light\";\n        break;\n        \n    case \"zwave-remote-control-multi-purpose\":\n    case \"nodonSoftRemote\":\n        msg.taglet = \"remote\";\n        break;\n        \n    case \"zwave-motion-sensor\":\n    case \"zwave-binary-sensor\":\n    case \"aeotecMultiSensor\":\n        msg.taglet = \"motion\";\n        break;\n        \n    default:\n        break;\n}\nmsg.service = msg.payload;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 321,
        "y": 387,
        "wires": [
            [
                "boxIP2ZWave"
            ]
        ]
    },
    {
        "id": "boxIP2ZWave",
        "type": "boxip",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "x": 551,
        "y": 387,
        "wires": [
            [
                "specZWave"
            ],
            []
        ]
    },
    {
        "id": "specZWave",
        "type": "function",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Specific parameters",
        "func": "msg.payload = msg.payload.replace(/\\r?\\n|\\r/g, \"\");\n\nmsg.service = {\n    name: msg.nodeInfo.product.slice(msg.nodeInfo.product.indexOf(\" \")+1, msg.nodeInfo.product.length),\n    id: msg.senderID + \"-ZWave\",\n    productname: msg.productname,\n    classindexname: msg.classindexname,\n    nodeid: msg.senderID,\n    commandclass: msg.commandclass,\n    classindex: msg.classindex,\n    mark: msg.nodeInfo.manufacturer.toLowerCase().replace(/ /g, '') + \".png\",\n    extra: {\n        StatusIn:  \"coldfacts/\"+msg.techno+\"/\"+msg.senderID+'/in',\n    \tStatusOut: \"coldfacts/\"+msg.techno+\"/\"+msg.senderID+'/out',\n    \tDeviceType: msg.nodeInfo.type,\n    \tskale: \"http://\"+msg.payload+\"/taglets/com.daw.\"+msg.taglet+\".taglet\"\n    },\n    wires: [[]]\n};\n\nif(msg.typeNode.includes('remote') || msg.typeNode.includes('motion')|| msg.typeNode.includes('binary'))\n    msg.service.extra.StatusIn = undefined;\n    \nmsg.payload = msg.service;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761,
        "y": 387,
        "wires": [
            []
        ]
    },
    {
        "id": "Assert3ZWave",
        "type": "function",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Assert",
        "func": "// ID du node dans Node-RED\nif(msg.payload.id===undefined) \n    return [{payload:\"ASSERT: msg.payload.id missing\"}, null];\n\n// ID du node dans ZWave\nif(msg.payload.nodeid===undefined) \n    return [{payload:\"ASSERT: msg.payload.nodeid missing\"}, null];\n\n// Nom de l'icône du node dans Node-RED\nif(msg.payload.mark===undefined) \n    return [{payload:\"ASSERT: msg.payload.mark missing\"}, null];\n    \nreturn [null,msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "debug3ZWave"
            ],
            [
                "debug4ZWave",
                "subFLowZWave"
            ]
        ]
    },
    {
        "id": "debug3ZWave",
        "type": "debug",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug4ZWave",
        "type": "debug",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "subFLowZWave",
        "type": "subflow:nodeGeneratorZWave",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "commentDOwn2ZWave",
        "type": "commentdown",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Error",
        "info": " ",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "info1ZWave",
        "type": "info",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "ttb-zwave",
        "info": "",
        "icon": "comment.png",
        "langs": [
            {
                "key": "en-US",
                "title": "ttb-zwave",
                "body": "",
                "isDefault": true
            }
        ],
        "currentLanguage": "en-US",
        "x": 80,
        "y": 63,
        "wires": []
    },
    {
        "id": "notifZWave",
        "type": "notifyUI",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "notification": "",
        "notificationType": "success",
        "fix": false,
        "defaultTout": true,
        "timeout": "",
        "timeoutUnits": "",
        "x": 1821.3333740234375,
        "y": 372,
        "wires": [
            []
        ]
    },
    {
        "id": "globalZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Set hk_ordinate",
        "func": "if(!context.global.settings.hk_ordinate) {\n    context.global.settings.hk_ordinate = 60;\n} else {\n    context.global.settings.hk_ordinate += 60;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 614.9999618530273,
        "y": 98.6666431427002,
        "wires": [
            [
                "parametersZWave"
            ]
        ]
    },
    {
        "id": "nextElementZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "next element ?",
        "func": "\ncontext.global.putFlag = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 789.3333206176758,
        "y": 541.9999904632568,
        "wires": [
            [
                "controlLoopZWave"
            ]
        ]
    },
    {
        "id": "debug5ZWave",
        "type": "debug",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "notification",
        "x": 1838.3333206176758,
        "y": 334.99999046325684,
        "wires": []
    },
    {
        "id": "formMessageZWave",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "MSG format",
        "func": "if(msg._topic.includes(\"service\")) {\n    switch(msg.techno) {\n        case \"weather\":\n            msg.techno = \"La météo\";\n            break;\n            \n        case \"europe1\":\n            msg.techno = \"Europe 1\";\n            break;\n            \n        case \"presence\":\n            msg.techno = \"Votre service de présence\";\n            break;\n            \n        case \"alert\":\n            msg.techno = \"Votre service d'alerte\";\n            break;\n            \n        case \"hotline\":\n            msg.techno = \"La hotline Digital Airwayze\";\n            break;\n            \n        case \"withings\":\n            msg.techno = \"Votre balance\";\n            break;\n            \n        case \"flic\":\n            msg.techno = \"Votre bouton\";\n            break;\n            \n        default:\n            break;\n    }\n} else if(msg._topic.includes(\"device\")) {\n    switch(msg.service.type) {\n        case \"zwave-light-dimmer-switch\":\n            msg.techno = \"Votre ampoule LED\";\n            break;\n            \n        case \"Enocean-f6-2-1\":\n        case \"nodonSoftRemote\":\n        case \"zwave-remote-control-multi-purpose\":\n            msg.techno = \"Votre télécommande\";\n            break;\n            \n        case \"aeotecMultiSensor\":\n        case \"zwave-motion-sensor\":\n            msg.techno = \"Votre détecteur de présence\";\n            break;\n            \n        case \"zwave-binary-sensor\":\n            msg.techno = \"Votre capteur de porte\";\n            break;\n            \n        default:\n            break;\n    }\n}\nmsg.payload = msg.techno + \" est maintenant fonctionnelle.\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1628.3333206176758,
        "y": 494.99999046325684,
        "wires": [
            []
        ]
    },
    {
        "id": "4fa4281b.526b38",
        "type": "function",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "push msg",
        "func": "if(typeof context.global.nodeGenerator === 'undefined')\n    context.global.nodeGenerator = [];\n\ncontext.global.nodeGenerator.push(msg);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 325,
        "y": 179,
        "wires": [
            [
                "controlLoopZWave"
            ]
        ]
    },
    {
        "id": "b14922d6.95bca",
        "type": "function",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Config Informations",
        "func": "var ip  = msg.payload.replace(/\\r?\\n|\\r/g, \"\");\n\nvar taglet;\nswitch(msg.service.typeNode) {\n    case \"zwave-binary-switch\":\n        taglet = \"switch\";\n        break;\n        \n    case \"zwave-light-dimmer-switch\":\n        taglet = \"light\";\n        break;\n        \n    case \"zwave-remote-control-multi-purpose\":\n    case \"nodonSoftRemote\":\n        taglet = \"remote\";\n        break;\n        \n    case \"zwave-motion-sensor\":\n    case \"zwave-binary-sensor\":\n    case \"aeotecMultiSensor\":\n        taglet = \"motion\";\n        break;\n        \n    default:\n        break;\n}\n\nmsg.service.extra.skale = \"http://\"+ip+\"/taglets/com.daw.\"+taglet+\".taglet\";\n\n\nmsg.payload = msg.service;\nmsg.service = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 735,
        "y": 303,
        "wires": [
            [
                "Assert3ZWave"
            ]
        ]
    },
    {
        "id": "54b8609b.e3b72",
        "type": "function",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Specific parameters",
        "func": "var techno = msg.topic.replace(/newdevice\\//g, \"\");\n\nmsg.service = {\n    id: msg.payload.senderID + \"-ZWave\",\n    name: \"\",\n    productname: msg.payload.productname,\n    classindexname: msg.payload.classindexname,\n    nodeid: msg.payload.senderID,\n    typeNode: msg.payload.typeNode,\n    commandclass: msg.payload.commandclass,\n    classindex: msg.payload.classindex,\n    nodeInfo: msg.payload.nodeInfo,\n    mark: msg.payload.nodeInfo.manufacturer.toLowerCase().replace(/ /g, '') + \".png\",\n    extra: {\n        StatusIn:  \"coldfacts/\"+techno+\"/\"+msg.payload.senderID+'/in',\n    \tStatusOut: \"coldfacts/\"+techno+\"/\"+msg.payload.senderID+'/out',\n    \tDeviceType: msg.payload.nodeInfo.type,\n    },\n    wires: [[]]\n};\n\n// !!! always provide a statusIn even if not used?\nif(msg.payload.typeNode.includes('remote') || msg.payload.typeNode.includes('motion')|| msg.payload.typeNode.includes('binary'))\n    msg.service.extra.StatusIn = undefined;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 363,
        "y": 302,
        "wires": [
            [
                "52def1b3.bf7fa8"
            ]
        ]
    },
    {
        "id": "52def1b3.bf7fa8",
        "type": "boxip",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "x": 552,
        "y": 302,
        "wires": [
            [
                "b14922d6.95bca"
            ],
            []
        ]
    },
    {
        "id": "debug2ZWave",
        "type": "debug",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 333,
        "y": 209,
        "wires": []
    },
    {
        "id": "commentDOwn1ZWave",
        "type": "commentdown",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Error",
        "info": " ",
        "x": 313,
        "y": 169,
        "wires": []
    },
    {
        "id": "assert2ZWave",
        "type": "function",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "Assert",
        "func": "if(msg.payload.senderID===undefined) return [{payload:\"ASSERT: msg.payload.senderID missing\"}, null];\n\nreturn [null,msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 139,
        "y": 215,
        "wires": [
            [
                "debug2ZWave"
            ],
            [
                "54b8609b.e3b72"
            ]
        ]
    },
    {
        "id": "54cb99c0.a8c358",
        "type": "debug",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "active": true,
        "console": false,
        "complete": "true",
        "x": 1598,
        "y": 182,
        "wires": []
    },
    {
        "id": "cfbaafcb.2d42e8",
        "type": "debug",
        "z": "nodeGeneratorZWave",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 1620,
        "y": 230,
        "wires": []
    },
    {
        "id": "1eed4e0a.90c5a2",
        "type": "info",
        "z": "ttb-zwave-tab",
        "origin": "/root/userdir/node_modules/ttb-zwave2/flows.json",
        "name": "previous version",
        "info": "",
        "icon": "comment.png",
        "langs": [
            {
                "key": "en-US",
                "title": "previous version",
                "body": "",
                "isDefault": true
            }
        ],
        "currentLanguage": "en-US",
        "x": 307.5,
        "y": 351,
        "wires": []
    }
]